<h1>Editando la reservación</h1>

<%= render "form", reservation: @reservation %>

<br>

<div>
  <%= link_to "Mostrar esta reservación", @reservation %> |
  <%= link_to "Volver a reservaciones", reservations_path %>
</div>
